
.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbar1 {
    width: 100%;
    height: 70px;
}

.navbar-brand {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.icon{
    margin: 0 auto;
    margin-top: 5px;
}

.title {
    font-size: 1.5rem;
    color: white;
}

.inputs {
    width: 66%;
    height: auto;
    padding-left: 5%;
}

.city-input {
    width: 30%;
    height: auto;
    padding-left: 5%;
}

.le-btn{
    margin-left: 80%;
    width: 15%;
}

.enter-location {
    width: 5%;
    height: 10%;
    margin-left: 35%;
}

.plus{
    margin-top: 5%;
    margin-left: 425%;
}

.location-input {
    padding-left: 5%;
    width: 33%;
    height: 2%;
}