#Category {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
    margin: 0 auto;
    padding-top: 4em;
    text-align: center;
}
#electronicpage {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
    margin: 0 auto;
    padding-top: 4em;
    text-align: center;
}
.title mb-0 h1{
    color: white;
}




#Category button{
    
    margin-left: 1em;
    border-style: solid;
    border-color: rgb(134, 123, 123);
    border-radius: 1em;
    border-width: 2px;
}
@media (max-width: 575.98px) { 
    #Category{
        grid-template-columns: 1fr;
    }
    #electronicpage{
        grid-template-columns: 1fr;
    }
    

   
    
 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
    #Category{
        grid-template-columns: 1fr 1fr;
    }
    #electronicpage{
        grid-template-columns: 1fr 1fr;
    }
    
    
  }

  @media (min-width: 1200px) { 
    #Category{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #electronicpage{
        grid-template-columns: 1fr 1fr;
    }

    section{
        display: gird;
        width: 100%;
        grid-template-areas: 
        "productpicture productdescription"
        "productdetail productdetail";

    }
    #productpicture {
        grid-area: productpicture;
    }
    #productdescription{
        grid-area: productdescription;
    }
    #productdetail{
        grid-area: productdetail;
    }
   
  }
  .navbar-dark .navbar-brand {
    color: rgb(241, 233, 233);
  }



  .btn-primary {
    color: #fff;
    background-color: #3466aa;
    border-color: #000000;
  }

  .btn-primary:hover {
    color: #fff;
    background-color:	#ff9601;
    border-color: #0062cc;
  }

  

  .bg-dark {
    background-color:#114084 !important;
  }
  
  #backicon{
      margin-top: 10px;
      margin-left: 1em;
  }

  .img-thumbnail{
      width: 200px;
      height: auto;
      margin-top: 20px;
  }

  #pricecomparesion{
      text-align: center;
  }

  section{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      text-align: center;
  }


  #producticon{
      margin-top: 20px;
  }
  #productdetail{
      font-family: 'Roboto Slab', serif;
      margin-top: 50px;
  }

  h3{
      font-weight: 800;
      color: blue;

  }

  body{
      height: 100%;
  }
  #productlist{
      text-align: center;
  }

 .w-100{
     margin-top: 10px;
 }
 .row{
     margin-top: 10px;
 }
 button{
     color: white;
 }
 .card-img-top1{
     text-align: center;
     margin-top: 60px;
     width: 500px;
     height: 450px;
 }
 
 .card-img-top{
     width: 400px;
     height: 500px;
 }
 .card-img-top3{
     margin-top: 55px;
     width: 300px;
     height: 450px;;
 }

 
  

  

  

  

  

  
