

.inputs {
    margin-left: 20%;
    height: auto;
    z-index: -1;
}

.le-btn {
    margin-left: 60%;
    width: 20%;
}

.plus {
    margin-top: 10%;
    margin-left: 345%;
}

.location-input {
    padding-left: 5%;
    width: 33%;
    height: 2%;
    margin-left: 5%;
}

#listHead {
    padding: 2%;
}

/** Blue color scheme */
.navbar-dark .navbar-brand1 {
    color: #fff;
}

.bg-dark {
    background-color: #114084 !important;
}

.btn-primary {
    color: #fff;
    background-color: #114084;
    border-color: #114084;
}